<footer class="app-footer">
  <div class="container text-center py-3">
    <small class="copyright"
      >Developed with <span class="sr-only">love</span
      ><i class="fas fa-heart" style="color: #fb866a"></i> by
      <a class="app-link" href="http://rise.et" target="_blank"
        >RISE TECHNOLOGIES</a
      >
      for @ISTYLE</small
    >
  </div>
</footer>
<!--//app-footer-->

<!-- Javascript -->
<!-- <script src="/static/plugins/popper.min.js"></script> -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"
  integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<!-- <script src="/static/plugins/bootstrap/js/bootstrap.min.js"></script> -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"
  integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>

<!-- Page Specific JS -->
<script src="/static/js/app.js"></script>
